body{
    text-align: center;
    background-color: #393E46;
}

.set {
    margin: 7% auto;
  }
  
h1{
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 4px 2px #DA0463;
}
footer {
    color: #DBEDF3;
    font-family: sans-serif;
  }

.btnPress{
    box-shadow: 0 3px 4px 0 rgb(91, 231, 15);
    opacity: 0.5;
}
.drum{
    outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: rgb(32, 80, 238);
  text-shadow: 1px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 146px;
  height: 160px;
  text-align: center;
  margin: 6px;
  background-color: white;
}

.a{
  background-image: url("images/crash.png");
  text-align: center;

}
.s{
  background-image: url("images/snare.png");
  text-align: center;
}

.d{
  background-image: url("images/tom3.png");
  text-align: center;
}

.f{
  background-image: url("images/kick.png");
  text-align: center;
}

.g{
  background-image: url("images/tom4.png");
  text-align: center;
}

.h{
  background-image: url("images/tom1.png");
  text-align: center;
}

.j{
  background-image: url("images/tom2.png");
  text-align: center;
}